In [1]:
import findspark

In [2]:
findspark.find()

'E:\\Softwares\\Spark\\spark-4.0.0-bin-hadoop3'

In [3]:
#initiate spark
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
c = pyspark.SparkConf().setAppName("test_app").setMaster("local")
sc = pyspark.SparkContext(conf = c)
spark = SparkSession(sc)

In [4]:
from pyspark.sql.functions import *

In [5]:
# only 1 instance of spark is allowed within session

In [6]:
data = spark.read.csv("F:\\KSR\\KSRDataSets-main\\Car_Data.csv", header=True, inferSchema=True)

In [7]:
type(data)

pyspark.sql.classic.dataframe.DataFrame

In [8]:
data.show(4)

+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
|Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Car_Owner|
+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
|    ritz|2014|         3.35|         5.59|     27000|   Petrol|     Dealer|      Manual|1st Owner|
|     sx4|2013|         4.75|         9.54|     43000|   Diesel|     Dealer|      Manual|1st Owner|
|    ciaz|2017|         7.25|         9.85|      6900|   Petrol|     Dealer|      Manual|1st Owner|
| wagon r|2011|         2.85|         4.15|      5200|   Petrol|     Dealer|      Manual|1st Owner|
+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
only showing top 4 rows

In [9]:
data.count(), len(data.columns)

(301, 9)

In [10]:
data.columns

['Car_Name',
 'Year',
 'Selling_Price',
 'Present_Price',
 'Kms_Driven',
 'Fuel_Type',
 'Seller_Type',
 'Transmission',
 'Car_Owner']

In [11]:
data[data['Year'] == 2014].show(5)

+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
|Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Car_Owner|
+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
|    ritz|2014|         3.35|         5.59|     27000|   Petrol|     Dealer|      Manual|1st Owner|
|   swift|2014|          4.6|         6.87|     42450|   Diesel|     Dealer|      Manual|2nd Owner|
|alto k10|2014|          2.5|         3.46|     45280|   Petrol|     Dealer|      Manual|1st Owner|
|   swift|2014|         4.95|         7.49|     39000|   Diesel|     Dealer|      Manual|1st Owner|
|  ertiga|2014|          6.0|         9.95|     45000|   Diesel|     Dealer|      Manual|1st Owner|
+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
only showing top 5 rows

In [12]:
data[(data['Year']==2014) & (data['Fuel_Type'] =='Petrol')].show(5)

+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
|Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Car_Owner|
+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
|    ritz|2014|         3.35|         5.59|     27000|   Petrol|     Dealer|      Manual|1st Owner|
|alto k10|2014|          2.5|         3.46|     45280|   Petrol|     Dealer|      Manual|1st Owner|
|alto k10|2014|         2.55|         3.98|     46706|   Petrol|     Dealer|      Manual|1st Owner|
|    ciaz|2014|          7.5|        12.04|     15000|   Petrol|     Dealer|   Automatic|1st Owner|
| etios g|2014|          4.1|          6.8|     39485|   Petrol|     Dealer|      Manual|1st Owner|
+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
only showing top 5 rows

In [13]:
data.dtypes

[('Car_Name', 'string'),
 ('Year', 'int'),
 ('Selling_Price', 'double'),
 ('Present_Price', 'double'),
 ('Kms_Driven', 'int'),
 ('Fuel_Type', 'string'),
 ('Seller_Type', 'string'),
 ('Transmission', 'string'),
 ('Car_Owner', 'string')]

In [14]:
# inferSchema=True --> to capture datatypes
data.dtypes

[('Car_Name', 'string'),
 ('Year', 'int'),
 ('Selling_Price', 'double'),
 ('Present_Price', 'double'),
 ('Kms_Driven', 'int'),
 ('Fuel_Type', 'string'),
 ('Seller_Type', 'string'),
 ('Transmission', 'string'),
 ('Car_Owner', 'string')]

In [15]:
data.printSchema()

root
 |-- Car_Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Selling_Price: double (nullable = true)
 |-- Present_Price: double (nullable = true)
 |-- Kms_Driven: integer (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Seller_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Car_Owner: string (nullable = true)

In [16]:
data[data['Year']==2014].count()

38

In [17]:
data.select('*').show(5)

+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
|Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Car_Owner|
+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
|    ritz|2014|         3.35|         5.59|     27000|   Petrol|     Dealer|      Manual|1st Owner|
|     sx4|2013|         4.75|         9.54|     43000|   Diesel|     Dealer|      Manual|1st Owner|
|    ciaz|2017|         7.25|         9.85|      6900|   Petrol|     Dealer|      Manual|1st Owner|
| wagon r|2011|         2.85|         4.15|      5200|   Petrol|     Dealer|      Manual|1st Owner|
|   swift|2014|          4.6|         6.87|     42450|   Diesel|     Dealer|      Manual|2nd Owner|
+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
only showing top 5 rows

In [18]:
data.select('Car_Name', 'Year', 'Selling_Price').show(5)

+--------+----+-------------+
|Car_Name|Year|Selling_Price|
+--------+----+-------------+
|    ritz|2014|         3.35|
|     sx4|2013|         4.75|
|    ciaz|2017|         7.25|
| wagon r|2011|         2.85|
|   swift|2014|          4.6|
+--------+----+-------------+
only showing top 5 rows

In [19]:
data[['Car_Name', 'Year', 'Selling_Price']].show(5)

+--------+----+-------------+
|Car_Name|Year|Selling_Price|
+--------+----+-------------+
|    ritz|2014|         3.35|
|     sx4|2013|         4.75|
|    ciaz|2017|         7.25|
| wagon r|2011|         2.85|
|   swift|2014|          4.6|
+--------+----+-------------+
only showing top 5 rows

In [20]:
data[data['Fuel_Type'] == 'Petrol'][['Car_Name', 'Year', 'Selling_Price', 'Fuel_Type']].show(5)

+--------+----+-------------+---------+
|Car_Name|Year|Selling_Price|Fuel_Type|
+--------+----+-------------+---------+
|    ritz|2014|         3.35|   Petrol|
|    ciaz|2017|         7.25|   Petrol|
| wagon r|2011|         2.85|   Petrol|
|    ciaz|2015|         6.75|   Petrol|
|alto 800|2017|         2.85|   Petrol|
+--------+----+-------------+---------+
only showing top 5 rows

In [21]:
data.select('Car_Name', 'Year', 'Selling_Price', 'Fuel_Type').filter(col('Fuel_Type')=='Petrol').show(5)

+--------+----+-------------+---------+
|Car_Name|Year|Selling_Price|Fuel_Type|
+--------+----+-------------+---------+
|    ritz|2014|         3.35|   Petrol|
|    ciaz|2017|         7.25|   Petrol|
| wagon r|2011|         2.85|   Petrol|
|    ciaz|2015|         6.75|   Petrol|
|alto 800|2017|         2.85|   Petrol|
+--------+----+-------------+---------+
only showing top 5 rows

In [22]:
# multiple col filter
data.select('Car_Name', 'Selling_Price','Year', 'Fuel_Type')\
.filter((col('Fuel_Type')=='Petrol') & (col('Year')==2014)).show(5)

+--------+-------------+----+---------+
|Car_Name|Selling_Price|Year|Fuel_Type|
+--------+-------------+----+---------+
|    ritz|         3.35|2014|   Petrol|
|alto k10|          2.5|2014|   Petrol|
|alto k10|         2.55|2014|   Petrol|
|    ciaz|          7.5|2014|   Petrol|
| etios g|          4.1|2014|   Petrol|
+--------+-------------+----+---------+
only showing top 5 rows

In [23]:
# Sort values based on Selling_Price
data.select('Car_Name', 'Selling_Price').sort(desc('Selling_Price')).show(5)

+------------+-------------+
|    Car_Name|Selling_Price|
+------------+-------------+
|land cruiser|         35.0|
|    fortuner|         33.0|
|    fortuner|         23.5|
|    fortuner|         23.0|
|      innova|         23.0|
+------------+-------------+
only showing top 5 rows

In [24]:
# Yearly grouping
data.groupby('Year').count().show(5)

+----+-----+
|Year|count|
+----+-----+
|2003|    2|
|2007|    2|
|2018|    1|
|2015|   61|
|2006|    4|
+----+-----+
only showing top 5 rows

In [25]:
# multiple col grouping
data.groupby('Year', 'Fuel_Type').count().show()

+----+---------+-----+
|Year|Fuel_Type|count|
+----+---------+-----+
|2017|   Petrol|   31|
|2013|   Petrol|   28|
|2012|   Diesel|    7|
|2010|   Petrol|   11|
|2010|   Diesel|    4|
|2003|   Petrol|    2|
|2009|   Petrol|    6|
|2018|   Diesel|    1|
|2014|   Petrol|   24|
|2011|   Diesel|    1|
|2007|   Petrol|    2|
|2004|   Petrol|    1|
|2017|   Diesel|    4|
|2006|   Petrol|    4|
|2013|   Diesel|    5|
|2015|      CNG|    1|
|2012|   Petrol|   16|
|2014|   Diesel|   14|
|2015|   Petrol|   45|
|2005|   Petrol|    3|
+----+---------+-----+
only showing top 20 rows

In [26]:
# multiple col grouping & sorting values
data.groupby('Year', 'Fuel_Type').count().sort(desc('count')).show(10)

+----+---------+-----+
|Year|Fuel_Type|count|
+----+---------+-----+
|2015|   Petrol|   45|
|2016|   Petrol|   42|
|2017|   Petrol|   31|
|2013|   Petrol|   28|
|2014|   Petrol|   24|
|2011|   Petrol|   17|
|2012|   Petrol|   16|
|2015|   Diesel|   15|
|2014|   Diesel|   14|
|2010|   Petrol|   11|
+----+---------+-----+
only showing top 10 rows

In [27]:
# created temporary view Car_Data to use it as sql table
data.createOrReplaceTempView('Car_Data')

In [28]:
spark.sql('select * from Car_Data').show(5)

+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
|Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Car_Owner|
+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
|    ritz|2014|         3.35|         5.59|     27000|   Petrol|     Dealer|      Manual|1st Owner|
|     sx4|2013|         4.75|         9.54|     43000|   Diesel|     Dealer|      Manual|1st Owner|
|    ciaz|2017|         7.25|         9.85|      6900|   Petrol|     Dealer|      Manual|1st Owner|
| wagon r|2011|         2.85|         4.15|      5200|   Petrol|     Dealer|      Manual|1st Owner|
|   swift|2014|          4.6|         6.87|     42450|   Diesel|     Dealer|      Manual|2nd Owner|
+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
only showing top 5 rows

In [29]:
spark.sql('select * from Car_Data where Fuel_Type = "Petrol"').show(5)

+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
|Car_Name|Year|Selling_Price|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Car_Owner|
+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
|    ritz|2014|         3.35|         5.59|     27000|   Petrol|     Dealer|      Manual|1st Owner|
|    ciaz|2017|         7.25|         9.85|      6900|   Petrol|     Dealer|      Manual|1st Owner|
| wagon r|2011|         2.85|         4.15|      5200|   Petrol|     Dealer|      Manual|1st Owner|
|    ciaz|2015|         6.75|         8.12|     18796|   Petrol|     Dealer|      Manual|2nd Owner|
|alto 800|2017|         2.85|          3.6|      2135|   Petrol|     Dealer|      Manual|2nd Owner|
+--------+----+-------------+-------------+----------+---------+-----------+------------+---------+
only showing top 5 rows

In [30]:
spark.sql('select Car_Name, Year, Selling_Price from Car_Data where Fuel_Type = "Petrol"').show(5)

+--------+----+-------------+
|Car_Name|Year|Selling_Price|
+--------+----+-------------+
|    ritz|2014|         3.35|
|    ciaz|2017|         7.25|
| wagon r|2011|         2.85|
|    ciaz|2015|         6.75|
|alto 800|2017|         2.85|
+--------+----+-------------+
only showing top 5 rows

In [31]:
spark.sql('select Year, count(*) from Car_Data group by Year').show(5)

+----+--------+
|Year|count(1)|
+----+--------+
|2003|       2|
|2007|       2|
|2018|       1|
|2015|      61|
|2006|       4|
+----+--------+
only showing top 5 rows

In [32]:
spark.sql("select Year, count(*) from Car_Data \
group by Year having count(*) > 30").show(5)

+----+--------+
|Year|count(1)|
+----+--------+
|2015|      61|
|2013|      33|
|2014|      38|
|2016|      50|
|2017|      35|
+----+--------+

In [33]:
# aliasing count with total_cars
spark.sql("select Year, count(*) total_cars from Car_Data \
group by Year having count(*) > 30").show(5)

+----+----------+
|Year|total_cars|
+----+----------+
|2015|        61|
|2013|        33|
|2014|        38|
|2016|        50|
|2017|        35|
+----+----------+

In [34]:
# order count in descending
spark.sql('select Year, count(*) from Car_Data \
group by Year having count(*) > 30 \
order by count(*) desc').show(6)

+----+--------+
|Year|count(1)|
+----+--------+
|2015|      61|
|2016|      50|
|2014|      38|
|2017|      35|
|2013|      33|
+----+--------+

In [35]:
spark.sql("select Car_Name, Year, Selling_Price, Fuel_Type from Car_Data \
where Year IN(2014, 2015) and Fuel_Type = 'Diesel' \
order by Selling_Price desc").show(10)

+--------+----+-------------+---------+
|Car_Name|Year|Selling_Price|Fuel_Type|
+--------+----+-------------+---------+
|fortuner|2015|         23.5|   Diesel|
|fortuner|2015|         23.0|   Diesel|
|fortuner|2015|         23.0|   Diesel|
|fortuner|2014|        19.99|   Diesel|
|fortuner|2014|        18.75|   Diesel|
|  innova|2015|         12.5|   Diesel|
| elantra|2015|        11.75|   Diesel|
|  innova|2014|        11.25|   Diesel|
|   creta|2015|        11.25|   Diesel|
|    city|2015|         8.55|   Diesel|
+--------+----+-------------+---------+
only showing top 10 rows

In [39]:
data.select('Car_Name', 'Year', 'Fuel_Type', 'Selling_Price') \
.filter((col('Year').isin([2014, 2015])) & (col('Fuel_Type') == 'Diesel')) \
.sort(desc('Selling_Price')).show(10)

+--------+----+---------+-------------+
|Car_Name|Year|Fuel_Type|Selling_Price|
+--------+----+---------+-------------+
|fortuner|2015|   Diesel|         23.5|
|fortuner|2015|   Diesel|         23.0|
|fortuner|2015|   Diesel|         23.0|
|fortuner|2014|   Diesel|        19.99|
|fortuner|2014|   Diesel|        18.75|
|  innova|2015|   Diesel|         12.5|
| elantra|2015|   Diesel|        11.75|
|  innova|2014|   Diesel|        11.25|
|   creta|2015|   Diesel|        11.25|
|    city|2015|   Diesel|         8.55|
+--------+----+---------+-------------+
only showing top 10 rows